.dropDown label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Rajdhani', sans-serif;
}

.dropDown select {
    height: 40px;
    border-width: 0;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}