/* CardContainer.css */
.news {
  margin-top: 20px;
  background-color: #6FA1E8;
  padding: 20px;
  font-family: 'Rajdhani', sans-serif;
  
  /* Adicione as seguintes linhas para ocupar todo o espaço vertical disponível */
  display: flex;
  flex-direction: column;
  flex: 1; /* Isso fará com que o CardContainer cresça e ocupe todo o espaço vertical disponível */
  align-items: center;
}

.card-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.card-container h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Adicione esta linha para centralizar horizontalmente os cards */
}

h1 {
  text-align: center;
}
