/* WeaponCard.css */
.weapon-card {
  width: 20%;
  background-color: white;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.cardContent{
  padding: 5px 20px 5px 20px;
}

.weapon-card img {
  max-width: 100%;
  height: auto;
}

.weapon-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.weapon-card p {
  font-size: 14px;
  color: #555;
}

/* Estilos adicionais conforme necessário */