/* Estilo para o formulário de adição de arma */

.form-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 20px auto;
  }
  
  h1{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
  }

  .weapon-form {
    display: flex;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea.form-control {
    resize: vertical;
    min-height: 100px;
  }
  
  .btn-submit {
    background-color: #6FA1E8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #4c82c8;
  }
  